# Example routing file for node-router
/app1 goes to port 8081
/app2 goes to http://localhost:8082
/foo/bar/bif goes to http://google.com
/doc goes to http://spencertipping.com/node-router/sdoc.html
/binfiles goes to file:///bin
